<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing MB</title>
</head>
<body>
<div align="center">
    <h1>Messages Broker List</h1>
    <a href="/new">Create New Message</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Message ID</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="messageBroker : ${listMessageBroker}">
            <td th:text="${messageBroker.id}">Product ID</td>
            <td th:text="${messageBroker.message}">Name</td>
            <td>
                <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>